/* =========================================================== */
/*         1. p::first-letter: Style the first letter          */
/* =========================================================== */
p::first-letter {
  font-size: 140%;
  font-weight: bold;
}

/* =========================================================== */
/*         2. p::first-line: Style the first line              */
/* =========================================================== */
p::first-line {
  background-color: gold;
}

/* =========================================================== */
/*         3. ::selection: Style selected text                 */
/* =========================================================== */
::selection {
  background-color: pink;
}

/* =========================================================== */
/*         4. p::before: Insert content before <p>             */
/* =========================================================== */
p::before {
  content: "...";
  display: block;
}

/* =========================================================== */
/*         5. p::after: Insert content after <p>               */
/* =========================================================== */
p::after {
  content: "...";
  display: block;
}
