/* =========================================================== */
/*                     1. Inherited Property                  */
/* =========================================================== */
p {
  color: dodgerblue; /* Color property is inherited */
}

/* =========================================================== */
/*                  2. Non-Inherited Property                 */
/* =========================================================== */
p {
  border: 1px solid black;
}

/* =========================================================== */
/*                 3. Reset Inherited Property                */
/* =========================================================== */
p strong {
  color: initial;
}

/* =========================================================== */
/*               4. Force Inheritance of Border               */
/* =========================================================== */
p strong {
  border: inherit;
}

/* =========================================================== */
/* 5. Typically Inherited Properties Are Typography-Related    */
/* =========================================================== */
/* Typography-related properties such as font-size, font-family, etc., are inherited by default */
