/* =========================================================== */
/*                     1. Pseudo-Class Selectors               */
/* =========================================================== */

/* Read: article is first-child of its parent */
article:first-child {
  background: gold;
}

/* Read: anything that is first-child of article */
article :first-child {
  background: gold;
}

/* Read: anything that is first-of-its-type within an article */
article :first-of-type {
  background: gold;
}

/* Read: p is first-of-its-type within an article */
article p:first-of-type {
  background: gold;
}

/* Read: p is last-of-its-type within an article */
article p:last-of-type {
  background: gold;
}

/* Read: p is last-child in article */
article p:last-child {
  background: gold;
}

/* =========================================================== */
/*                     2. nth-Child Selectors                  */
/* =========================================================== */

/* Read: li is odd-numbered child in ul, odd, even, 3n */
ul li:nth-child(even) {
  background: gold;
}

/* =========================================================== */
/*                     3. Link States                         */
/* =========================================================== */

/* Read: a is visited or a is unvisited link */
a:visited,
a:link {
  color: dodgerblue;
}

/* Read: a is hovered or a is focused */
a:hover,
a:focus {
  color: deeppink;
}
