* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* rem base */
  height: 200vh; /* for scroll demo */
}

.boxs {
  border: 3px solid lightgrey;
  position: relative; /* absolute child relative to this */
}

.box {
  width: 5rem;
  height: 5rem;
}

/* =============== 1. Relative Positioning =============== */
/* Offsets from normal position. */
/* Remains in document flow. */
/* Offsets don't move other elements. */
.box-one {
  background-color: gold;
  position: relative;
  left: 4rem;
  top: 4rem;
  z-index: -1; /* stacking only applies if positioned */
}

/* =============== 2. Absolute Positioning =============== */
/* Out of normal document flow. */
/* Positioned relative to nearest positioned ancestor. */
.box-two {
  background-color: tomato;
  position: absolute; /* relative to .boxs */
  right: 0;
  bottom: 0;
}

/* =============== 3. Fixed Positioning =============== */
/* Out of normal document flow. */
/* Positioned relative to viewport. */
/* Stays fixed on scroll. */
.box-three {
  background-color: dodgerblue;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  width: auto;
}
