/* ----------------- Font Family ----------------- */
/* Categories: serif, sans-serif, monospace */
/* Font stack checks fonts in order (fallbacks) */
/* Fonts are inherited by default */

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-weight: bold; /* normal (400) | bold (700) | numeric values */
  font-style: italic; /* normal | italic | oblique */
  font-size: 1rem; /* Use rem/em for scalability */
  color: #444; /* HEX, RGB, HSL, or named */
}
