/* =========================================================== */
/*                 1. Overflow Properties                     */
/* Note: visible=default, hidden, scroll, auto                */
/*       “overflow” is shorthand for overflow-x & overflow-y  */
/* =========================================================== */
.box {
  border: 3px solid gold;
  width: 150px;
  height: 150px;
  overflow: auto;
}
