<article class="grid grid--1x2 feature">
  <div class="feature__content">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
    </span>
    <h3 class="feature__heading">Super Easy to Use</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
      vel ad unde est illo at. Labore excepturi officia dolores!
    </p>
    <a class="link-arrow" href="#">Learn More</a>
  </div>
  <picture>
    <source
      srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      type="image/webp"
    />
    <source
      srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      type="image/jpg"
    />
    <img alt="" class="feature__image" src="images/easy@2x.jpg" />
  </picture>
</article>
