/* =========================================================== */
/*                     1. ID Selector                         */
/* =========================================================== */
#products {
}

/* =========================================================== */
/*                    2. Class Selector                       */
/* =========================================================== */
.product {
}

/* =========================================================== */
/*                   3. Type Selector                         */
/* =========================================================== */
a {
  color: orange;
}

/* =========================================================== */
/*               4. Attribute Selectors                       */
/* =========================================================== */

/* 4.1. Select all anchor (<a>) tags with a 'target' attribute */
a[target] {
  color: orange;
}

/* 4.2. Select anchor (<a>) tags with 'target' attribute value of "_blank" */
a[target='_blank'] {
}

/* 4.3. Select anchor (<a>) tags with 'href' attribute value of 'https://google.com'
   Note: This is fragile because any change to 'href' value will break this rule */
a[href="https://google.com"] {
}

/* 4.4. Select anchor (<a>) tags with 'href' attribute containing the substring 'google' */
a[href*='google'] {
}

/* 4.5. Select anchor (<a>) tags with 'href' attribute starting with 'https' */
a[href^='https'] {
}

/* 4.6. Select anchor (<a>) tags with 'href' attribute ending with 'https' */
a[href$='https'] {
}

/* 4.7. Select anchor (<a>) tags with 'href' attribute starting with 'http' and ending with 'https' */
a[href^='http'][href$='https'] {
}
