/* =========================================================== */
/*           1. Descendant Combinator:                        */
/*           Selects all <p> elements inside #products         */
/* =========================================================== */
#products p {
  color: orange;
}

/* =========================================================== */
/*           2. Child Combinator:                             */
/*           Selects all <p> elements that are direct          */
/*           children of #products                             */
/* =========================================================== */
#products > p {
  color: red;
}

/* =========================================================== */
/*           3. Next-Sibling Combinator:                      */
/*           Selects the <p> element that is immediately       */
/*           following #products                               */
/* =========================================================== */
#products + p {
  color: purple;
}

/* =========================================================== */
/*           4. Subsequent-Sibling Combinator:                */
/*           Selects all <p> elements that are siblings of     */
/*           #products and come after it                      */
/* =========================================================== */
#products ~ p {
  color: green;
}
