html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

nav {
  background-color: #000;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}

nav li {
  margin: 1rem;

  color: lightgray;
}

nav a:link,
nav a:visited {
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
}
